@model IEnumerable<MVC_Project.Models.Designation>

@{
    ViewData["Title"] = "Index";
}

<h1>Designations</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DesigName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.Company.ComId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Company.ComName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DesigName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DesigId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DesigId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DesigId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
