@model IEnumerable<MVC_Project.Models.Attendance>

@{
    ViewData["Title"] = "Index";
}

<h1>Attendances</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dtDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Company.ComName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmpName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dtDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OutTime)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.AttendanceId }) |
                @Html.ActionLink("Details", "Details", new { id = item.EmpId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EmpId })
            </td>
        </tr>
}
    </tbody>
</table>
