@model IEnumerable<MVC_Project.Models.Company>

@{
    ViewData["Title"] = "Index";
}

<h1>Companies</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ComName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Basic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hrent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medical)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsInactive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ComName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Basic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hrent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medical)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsInactive)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ComId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ComId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ComId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
